@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* black */
  --background-start-rgb: 255, 255, 0; /* yellow */
  --background-end-rgb: 255, 255, 0; /* yellow */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 0;  /* yellow */
    --background-start-rgb: 0, 0, 0;  /* black */
    --background-end-rgb: 0, 0, 0;  /* black */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
